* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #293241;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}
.center__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container .top {
  width: 740px;
  margin: 0.5rem;
  position: relative;
  border-bottom: 1px solid #eee;
}

.top .likes__count {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffadad;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

form {
  display: grid;
  width: 100%;
  height: 80px;
  grid-template-columns: 5% 80% 15%;
}

.form__info input {
  border: none;
  background: transparent;
  width: 90%;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
  margin-left: 8%;
}

.form__info input::placeholder {
  color: gray;
}

.top .heart__icon {
  color: #ffadad;
  font-size: 30px;
  cursor: pointer;
}

.top button {
  border: none;
  border-radius: 10px;
  background-color: #1A5DB4;
  height: 50%;
  color: white;
  transform: translateY(50%);
  cursor: pointer;
}

/* COMMENTS */
.comments__container {
  width: 800px;
 
}

.comment__card {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 10% auto;
  margin-left: 0.5rem;
}

.comment__card .pic {
  background-color: #48cae4;
  border-radius: 50%;
  margin: 10%;
  font-size: 25px;
  color: #495057;
  text-transform: uppercase;
}

.comment__info {
  display: flex;
  align-items: flex-start;
}

.comment__info .nickname {
  font-weight: bold;
  color: black;
}
.comment__info .des {
  margin-left: 25px;
  flex-grow: 1; /* Add this line */
}
.comment__info .comment {
  margin: 5px 0;
  word-break: keep-all; /* Add this line */
}
.comment__info .comment__bottom {
  display: flex;
}

.comment__bottom .heart__icon--comment {
  font-size: 20px;
  margin-right: 20px;
  color: #eee;
}

/* add with JS */
.heart__icon--comment .fas.positive {
  color: #ffadad;
}

.comment__bottom button {
  border: none;
  background: transparent;
  color: #aaa;
  text-transform: uppercase;
  cursor: pointer;
}
